.footer
  .footer-box.clearfix
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'footer-box__text-field', placeholder: 'type a message'
      .footer-box__photo
        = f.label :image, class: ''  do
          %i.fa.fa-picture-o
          = f.file_field :image, class: 'upload-icon' sdfsd
      .footer-box__footer-btn
        = f.submit 'Send', class: 'footer-btn__send'


/ .form
/       = form_for [@group, @message] do |f|
/         = f.text_field :content, class: 'form__message', placeholder: 'type a message'

/         .form__mask
/           = f.label :image, class: 'form__mask__image' do
/             = fa_icon 'picture-o', class: 'icon'
/             = f.file_field :image, class: 'hidden'
/         = f.submit 'Send', class: 'form__submit'





