.side
  .side-header
    .side-header__left
      .side-header__left__user-name
        = current_user.name
    .side-header__right
      .side-header__right__make-group
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o.icon
      .side-header__right__edit-user
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog.icon
  .side-body
    / - binding.pry
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .side-body__group-name
          = group.name
        .side-body__group-message
          = group.show_last_message

